SMTP_HOST=""
SMTP_PORT="587"
SMTP_USERNAME=""
SMTP_PASSWORD=""
SMTP_SECURITY="tls"
SMTP_FROM_EMAIL="info@ts9designs.com"
SMTP_FROM_NAME="TS9Designs"
SMTP_DEBUG="0"
TS9_LOGO_URL="https://ts9designs.com/assets/images/logo-v3.webp"
MAILCHIMP_API_KEY=""
MAILCHIMP_AUDIENCE_ID=""
